<div id="myprofile" class="area">	
	<h4><%= I18n.t("tog_user.interface.my_profile") %></h4>
	<div id="usuarioinfo">
		<%=icon_for_profile(current_user.profile, 'medium')%>
		<p>
			<%= link_to current_user.profile.full_name, profile_path(current_user.profile)%><br/>
			<span>Seguidores</span> <span class="blue"><%=current_user.profile.total_followers%></span><br/>
			<span>Amigos</span> <span class="blue"><%=current_user.profile.total_friends%></span>
		</p>
	</div>
</div>

<div id="friends" class="area">
	<h4><%= I18n.t("tog_user.interface.my_friends") %></h4>
	<ul>
	<% current_user.profile.some_friends.each do |profile| %>
		<li>
			<%=link_to icon_for_profile(profile, 'small'), profile_path(profile)%>
			<span><%=link_to profile.user.login, profile_path(profile)%></span>
		</li>
	<% end %>
	</ul>
</div>

<div id="mygroups" class="area">
	<h4><%= I18n.t("tog_user.interface.my_groups") %></h4>
	<ul>
		<% current_user.some_groups.each do |group| %>
	    	<li>
	            <p>
					<%= link_to image_for_group(group, 'medium'), group_path(group) %><br/>
					<%= link_to group.name, group_path(group) %><br/>
					<span><%=group.description%></span>
				</p>
	        </li>
	    <%end %>
	</ul>
</div>

<%= render :partial => 'shared/new_users' %>

<%= render :partial => 'shared/new_groups' %>

