<div id="usuariosDestacados">
	<h4><%= I18n.t("tog_core.views.home.index.featured_users") %></h4>
	<ul>
    <% last_users.each do |user|%>
        <li><%=link_to icon_for_profile(user.profile, 'small'), profile_path(user.profile)%></li>
    <%end %>
    </ul>
</div><!--end usuariosDestacados-->


<div id="grupos">
	<h4><%= I18n.t("tog_core.views.home.index.groups") %></h4>
	<ul>
    <% last_groups.each do |group| %>
    	<li>
        	<%= link_to image_for_group(group, 'medium'), group_path(group) %>
            <h5><%= link_to group.name, group_path(group) %></h5>
            <p><%=group.description%></p>
        </li>
    <%end %>
    </ul>
</div><!--end grupos-->


<div id="muro">
	<h4><%= I18n.t("tog_core.views.home.index.the_public_continuum") %></h4>
	<ul>
    <%= public_continuum(20) %>
    </ul>
</div><!--end muro-->
