<div id="left">
	<%= render :partial => "left" %>
</div>

<div id="right">
	<div id="advertising" class="area">
		<img alt="publicidad" src="/images/banner.jpg" />
	</div>
	
	<div id="news" class="area">
		<h4><%= I18n.t("tog_core.interface.news") %></h4>
		<ul>
		<% last_stories.each do |story| %>
			<li>
				<%= link_to story.title, headlines_story_path(story) %><br/>
				<span class="box"><%= story.created_at.strftime('%d/%m/%y %H:%M')%></span>
				<%=story.summary %>
			</li>
		<% end %>
		</ul>
	</div>
</div>

<div id="center">
	<%= render :partial => "center" %>
</div>
