<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=config['plugins.tog_core.site.name']%></title>
<meta name="language" content="<%=I18n.locale%>" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="title" content="<%=config['plugins.tog_core.site.name']%>"/>
<meta name="title" content="<%=config['plugins.tog_core.site.name']%>" />
<meta name="description" content="Red social para aficionados del deporte" />
<meta name="keywords" content="qonda, aficionados, qondaaficionados" />
<meta name="author" content="Linking Paths" />

<link rel="icon" href="/tog_core/images/favicon.ico" />

<!--
<link href="/tog_core/stylesheets/template.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/tog_core/stylesheets/style.css"    rel="stylesheet" media="screen" type="text/css" />
<link href="/tog_core/stylesheets/pages.css"    rel="stylesheet" media="screen" type="text/css" />
-->
<link href="/stylesheets/estilo.css"    rel="stylesheet" media="screen" type="text/css" />

<!--[if lt IE 7.]>
<link rel="stylesheet" type="text/css" media="screen" href="/tog_core/stylesheets/ie6.css" />
<![endif]-->

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" media="screen" href="/tog_core/stylesheets/ie7.css" />
<![endif]-->

<%= inject_autodiscovery %>
<%= inject_js %>
<%= inject_css %>

<link rel="start" type="text/html" href="/" title="Página de inicio" />

</head>
<body>
<div id="documento">
    <div id="pagina">
    	<div id="cabecera">
        
			<%=render :partial => 'shared/header_profile'%>
            
			<%= render :partial => 'shared/notification_area' %>

            <div id="titulo">
            	<h1><a href="#"><img alt="Q'ondaficionados!" src="images/qondaficionados-logo.gif" border="0" /></a></h1>
            </div><!--end titulo-->
            
            <div id="qondatv">
            	<img alt="qondatv" src="images/qondatv-banner.jpg" /></div><!--end qondatv-->           
        
        </div><!--end cabecera-->
        
		<%= render :partial => 'shared/blue_menu' %>

        
        <div id="cuerpo">
        <%= yield %>
        
        </div><!--end cuerpo-->
        
        <div id="pie">
        
        	<div id="logos">
            	<ul>
                	<li><a title="Milenio.com" href="#"><img alt="Milenio.com" src="images/milenio-logo.gif" border="0" /></a></li>
                    <li><a title="La Aficion.com" href="#"><img alt="La aficion.com" src="images/la-aficion-logo.gif" border="0" /></a></li>
                    <li><a title="IQ-ZONE" href="#"><img alt="IQ-ZONE" src="images/iq-zone-logo.gif" border="0" /></a></li>
                </ul>
            </div><!--end logos-->
            
            <div id="copy">
            	<p>Copyright &copy; 2010 Q'onda. <span>Powered by <a title="IQ-ZONE" href="#">IQ-ZONE</a></span></p>
            </div><!--end copy-->
        
        </div><!--end pie-->
        
    
    </div><!--end pagina-->
</div><!--end documento-->
</body>

</html>